<h1>Zoek een bedrijf</h1>
<p>U bent niet verplicht meerdere velden in te vullen</p>
<table>
<% form_tag :controller => 'companies', :action => 'search_all', :method => 'get' do %>
	<tr><td>Naam:</td><td> <%= text_field_tag :name, params[:name], :id => 'name_field' %></td></tr>

	<tr><td>Ondernemingsnummer: </td><td><%= text_field_tag :nummer, params[:nummer], :id => 'nummer_field' %></td></tr>

<tr><td>Regio: </td><td><%= select("", "regioNummer", Company::REGIOS, {:include_blank => true}) %></td></tr>

<tr><td>Sector: </td><td><%= select("", "sectorNummer", Company::SECTORS, {:include_blank => true}) %></td></tr>

	<tr><td></td><td class="kolomRechts"><%= submit_tag "Search", :name => nil %> </td></tr>

<% end %> 
</table>
<br />
<%= link_to 'Toon alle bedrijven' , companies_path %>


