<h1>New payment</h1>
<p id="notice"><ul  id="notice"><% flash.each do |key, msg| %><li><%= msg%> </li>
<% end %></ul></p>

<% if session[:company] !=nil%>
<%= form_tag do %>


  <div class="field">
    <label for="naam">Naam: </label><br/>
    <%= text_field_tag :naam,params[:naam] %>*
  </div>
  <div class="field">
    <label for="voornaam">Voornaam:</label><br/>
    <%= text_field_tag :voornaam,params[:voornaam] %>*
  </div>
  <div class="field">
    <label for="nummer">Nummer:</label><br/>
    <%= text_field_tag :nummer,params[:nummer] %>*
  </div>
  <div class="field">
    <label for="maand">Maand:</label><br/>
    <%= text_field_tag :maand,params[:maand] %>*
  </div>
  <div class="field">
    <label for="jaar">Jaar:</label><br/>
    <%= text_field_tag :jaar,params[:jaar] %>*
  </div>
  <div class="field">
    <label for="controle">Controle:</label><br/>
    <%= text_field_tag :controle,params[:controle] %>*
  </div>

        <p>
          * verplicht in te vullen
        </p>
        <p>
    <%= submit_tag "pay" %>
</p>

<% end %>

    <%else%>


<%end%>