<%= link_to image_tag("../images/logo.png", :alt=>"BedrijfsABC", :id=>"logo", :border=>0), root_path %>
<div id="content">
    <div id="nav">
        <div id="zoeken">
            <img src="../images/search_icon.png" alt="zoeken" id="zoekenMenuButton" />
            <p id="zoekenMenuTekst">Zoeken</p>
        </div>
        
        <div id="registreren"><%= link_to image_tag("../images/user-group-icon.png", :id=>"registrerenMenuButton", :border=>0), new_company_path %>
            <p id="registrerenMenuTekst"><%= link_to 'Bedrijf registreren', new_company_path %></p>
        </div>
        
        <div id="inloggen">
            <img src="../images/lock-icon.png" alt="inloggen" id="inloggenMenuButton" />
            <p id="inloggenMenuTekst">Inloggen</p>
        </div>
        
        <div id="contact"><%= link_to image_tag("../images/Sent-Mail-icon.png", :id=>"contactMenuButton", :border=>0), contact_path %>
            <p id="contactMenuTekst"><%= link_to 'Contact', contact_path %></p></div>
    </div>

<h1>Contact</h1>

<%= render 'contactform' %>
