<table>
  <tr>
    <th>Ondernemingsnummer</th>
    <th>Naam</th>
    <th>Logo url</th>
    <th>Straat</th>
    <th>Huisnummer</th>
    <th>Gemeente</th>
    <th>Contactpersoon</th>
    <th>Email</th>
    <th>Telefoonnummer</th>
    <th>Beschrijving</th>
    <th>Sector</th>
    <th>Regio</th>
    <th>Website</th>
    <th>Geschiedenis</th>
    <th>Maandag</th>
    <th>Dinsdag</th>
    <th>Woensdag</th>
    <th>Donderdag</th>
    <th>Vrijdag</th>
    <th>Zaterdag</th>
    <th>Zondag</th>
    <th>Wachtwoord</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.ondernemingsnummer %></td>
    <td><%= company.naam %></td>
    <td><%= company.logo_url %></td>
    <td><%= company.straat %></td>
    <td><%= company.huisnummer %></td>
    <td><%= company.gemeente %></td>
    <td><%= company.contactpersoon %></td>
    <td><%= company.email %></td>
    <td><%= company.telefoonnummer %></td>
    <td><%= company.beschrijving %></td>
    <td><%= company.sector %></td>
    <td><%= company.regio %></td>
    <td><%= company.website %></td>
    <td><%= company.geschiedenis %></td>
    <td><%= company.maandag %></td>
    <td><%= company.dinsdag %></td>
    <td><%= company.woensdag %></td>
    <td><%= company.donderdag %></td>
    <td><%= company.vrijdag %></td>
    <td><%= company.zaterdag %></td>
    <td><%= company.zondag %></td>
    <td><%= company.wachtwoord %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
