<p id="notice"><%= notice %></p>

<p>
  <b>Ondernemingsnummer:</b>
  <%= @company.ondernemingsnummer %>
</p>

<p>
  <b>Naam:</b>
  <%= @company.naam %>
</p>

<p>
  <b>Logo url:</b>
  <%= @company.logo_url %>
</p>

<p>
  <b>Straat:</b>
  <%= @company.straat %>
</p>

<p>
  <b>Huisnummer:</b>
  <%= @company.huisnummer %>
</p>

<p>
  <b>Gemeente:</b>
  <%= @company.gemeente %>
</p>

<p>
  <b>Contactpersoon:</b>
  <%= @company.contactpersoon %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Telefoonnummer:</b>
  <%= @company.telefoonnummer %>
</p>

<p>
  <b>Beschrijving:</b>
  <%= @company.beschrijving %>
</p>

<p>
  <b>Sector:</b>
  <%= @company.sector %>
</p>

<p>
  <b>Regio:</b>
  <%= @company.regio %>
</p>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>

<p>
  <b>Geschiedenis:</b>
  <%= @company.geschiedenis %>
</p>

<p>
  <b>Maandag:</b>
  <%= @company.maandag %>
</p>

<p>
  <b>Dinsdag:</b>
  <%= @company.dinsdag %>
</p>

<p>
  <b>Woensdag:</b>
  <%= @company.woensdag %>
</p>

<p>
  <b>Donderdag:</b>
  <%= @company.donderdag %>
</p>

<p>
  <b>Vrijdag:</b>
  <%= @company.vrijdag %>
</p>

<p>
  <b>Zaterdag:</b>
  <%= @company.zaterdag %>
</p>

<p>
  <b>Zondag:</b>
  <%= @company.zondag %>
</p>

<% if current_company !=nil and current_company==@company %>
<%= link_to 'Edit', edit_company_path(@company) %> |
    <% end %>
<%= link_to 'Back', companies_path %>
