<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ondernemingsnummer %><br />
    <%= f.text_field :ondernemingsnummer %>
  </div>
  <div class="field">
    <%= f.label :naam %><br />
    <%= f.text_field :naam %>
  </div>
  <div class="field">
    <%= f.label :straat %><br />
    <%= f.text_field :straat %>
  </div>
  <div class="field">
    <%= f.label :huisnummer %><br />
    <%= f.text_field :huisnummer %>
  </div>
  <div class="field">
    <%= f.label :gemeente %><br />
    <%= f.text_field :gemeente %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :wachtwoord %><br />
    <%= f.password_field :wachtwoord %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
